<p>
  You have just initiated a request to reset the password in coinchel's account <br /> <%= @email %>, If you want to set up a new password, please input this 6-digit code：
</p>
<p> <b> <%= @token_code %> </b></p>
<p> If this activity is not your own operation. please contact us immediately.</p>
