

/* Fonts*/
$base-font: 'Ubuntu', sans-serif;
$sec-font:'Roboto', sans-serif;


/* color */

$base-color: #42c8ea;
$base-color-2: #e17676;
$heading-color: #000033;
$sml-heading-color: #262626;
$heading-color-2: #202020;
$text-color: #999999;
$text-color-2: #666666;
$border-color: #dddddd;
$hover-bgcolor: #212121;

$green-color: #36cf4c;
$red-color: #ff7171;
$redish-color: #ff6262;
$lines-color: #dadada;



$white: #ffffff;
$black-color: #333333;
$btn-border: #999999;

$color-gray: #969696;
$light-gray: #5b5b5b;
$light-bg: #f7f7f7;
$light-bg-1: #f4f4f4;
$dark-gray-bg: #767676;
$light-bg: #f1f1f1;
$light-bg-color: #fbfbfb;



/* Width */


