<!-- Buy and sell section start -->
<section class="blue_sec"></section>

<section class="btsbgen">
  <%= image_tag('ENJ2-Web-en_01.png')%>
</section>

<section class="btscontent">
  <div class="btsinfo text-center">
    <%= image_tag('ENJ2-Web-en_02.png')%>
  </div>
</section>

<section class="btsinfo text-center">
  <%= image_tag('IOTX-Web-en_03.png')%>
</section>