<table id="fiats_deposit" class="table table-condensed table-hover" data-source="<%= admin_deposits_fiats_path(format: :json) %>">
  <thead>
  <tr>
    <th> Email</th>
    <th>Amount</th>
    <th>Done At</th>
    <th> Reference ID </th>
    <th> Action </th>

  </tr>
  </thead>
  <tbody>
  </tbody>
</table>