<% content_for :footer do %>
  <div class="container-fluid support_ftr">
    <div class="container">
      <a href="<%= root_path %>"><%= t('supports._footer.Zinance') %></a>
    </div>
  </div>

<% end %>