/**{
    margin: 0px;
    padding: 0px;
}*/

.content {
    background: #fff;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    background-color: #fff;
}
.panel {
    width: 100%;
}
.panel-body-head {
    border-bottom: 1px solid #ddd;
    &.second_hdr {
        border-top: 1px solid #ddd;        
    }
}

#order_book {
    //right: auto;
    //left: 2px;
    //margin-top: 20px;
}
// #market_list {
// 	position: absolute;
// 	top: 2px;
// 	left: auto;
// 	width: 280px;
// 	height: 196px;
// 	z-index: 999;
// 	right: 2px;
// }
// #market_trades {
// 	position: absolute;
// 	bottom: 2px;
// 	left: auto;
// 	width: 280px;
// 	height: 387px;
// 	min-height: 387px;
// 	z-index: 999;
// 	right: 2px;
// }
// #order_book {
// 	max-width: 270px;
// 	height: 132px;
// 	min-height: 250px;
// 	top: 2px;
// 	right: 2px;
// 	float: left;
// 	width: 100%;
// 	display: inline-block;
// }
// #order_book .panel-body.panel-body-head {
// 	border: solid 1px #ddd;
// }
.table_hdr {
    width: 100%;
}
.table_hdr thead tr th {
    font-size: 14px;
    font-weight: 400;
}
// #candlestick {
// 	position: relative;
// 	min-width: 386px;
// 	width: 386px;
// 	min-height: 585px;
// 	height: 585px;
// 	top: auto;
// 	left: auto;
// 	border: solid 1px #ddd;
// 	margin: 0 auto;
// }
// #ticker {
// 	min-width: 386px;
// 	width: 386px;
// 	height: 55px;
// 	right: auto;
//   left: auto;bottom: auto;
//   position: relative;
//   margin: 0 auto;
// }
// #depths_wrapper {
// 	width: 486px;
// 	height: 102px;
// 	bottom: 294px;
// 	right: 2px;
// 	position: relative;
// 	bottom: auto;
// 	right: auto;
// 	left: auto;
// 	margin: 0 auto;
// 	top: auto;
// }
// #my_orders_wrapper {
// 	border: solid #ddd 1px;
// 	position: relative;
// 	float: left;
// 	width: 100%;
// }
// #my_orders_wrapper .dropdown-wrapper {
// 	position: relative;
// 	height: 92px;
// 	bottom: auto;
// 	right: auto;
// 	margin: 0 auto;
// 	left: auto;
// }
// #my_orders {
// 	width: 486px;
// 	height: 92px;
// 	bottom: auto;
// 	right: auto;
// 	margin: 0 auto;
// 	position: relative;
// 	left: auto;
// }
// .entery_block {
// 	max-width: 792px;
// 	margin: 0 auto;
// 	border: solid #ddd 1px;
// 	width: 100%;
// 	text-align: center;
// 	float: none;
// 	min-height: 200px;
// }
.bid_entry {
    width: 50% !important;
    float: left;
    @media(max-width: 767px) {
      width: 100% !important;
    }
}

/*#order_book_header {
  float: left;
  width: 100%;
}
*/
.panel-body-head.second_hdr {
  margin-top: 30px;
}
.current-balance, .unit {
    color:#333;
    cursor: pointer;
}

/* Ticker style start here */
.tickers_carousel {
  float: left;
  width: 100%;
  .owl-nav {
    display: none;
  }
  .owl-dots {
    &.disabled {
      display: none;
    }
  }
  .owl-stage-outer {
    overflow: hidden;
    .owl-stage {
      .owl-item {
        display: inline-block;
        width: 16.6%;
        padding: 0px;
        .tickers_block {
          margin: 0px;
          .ticker_list {
            float: left;
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}
#home_tickers {
  padding:0px;
  @media(max-width: 480px) {
    padding:0px;
  }
}
.tickers_block {
  margin:0px -5px;
  display: flex;
  @media(max-width: 1200px) {
    flex-wrap: wrap;
  }
  .ticker_list {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 0px 5px;
    @media(max-width: 1024px) {
      margin-bottom: 10px;
    }
    .ticker_inner_contnt {
      background-color: #fff;
      padding: 10px;
      display: inline-block;
      width: 100%;
      border: solid 1px rgb(230, 230, 230);
      color:rgb(51, 51, 51);
      background-position: bottom center;
      padding-bottom: 30px;
      background-image: image-url('ticker_map.png');
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: all ease 0.5s;
      &:hover, &:focus, &:active {
        transition: all ease 0.5s;
        border-color:#00aeef;
      }
      .ticker_value {
        margin-bottom:5px;
      }
      .tbl_cell {
        h2 {
          font-size: 14px;
          font-weight: 600;
        }
        p {
          font-size: 12px;
          font-weight: 400;
        }
      }
      .currency_vol {
        p {
          font-size: 14px;
          font-weight: 400;
          &.vol {
            color: #999;
            font-size: 13px;
          }
          strong {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.markets {
  tr {
    th {
      color: #999;
      font-size: 12px;
    }
    td {
      font-size: 12px;
    }
  }
}

/* supports page style */
.white_nav {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px;
  z-index: 1000;
  .nav {
    background-color: transparent;
    li {
      &.open {
        & > a {
          background-color: transparent;
          color: #00aeef !important;
          &:focus, &:hover {
            background-color: transparent;
            color:#00aeef !important;
          }
        }
        .dropdown-menu {
          min-width: 220px;
          li {
            a {
              color: #333;
              text-decoration: none;
            }
          }
        }
      }
      a {
        color: #ffffff;
        border: none !important;
        box-shadow: none !important;
        &:hover, &:focus, &:active {
          color: #00aeef;
          text-decoration: underline;
        }
      }
      &.active {
        a {
          color: #00aeef;
        }
      }
      .slct_lang {
        position: relative;
        select {
          box-shadow: none;
          border: none;
          background-color: transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding: 15px 10px;
          color: #333;
        }
        &:after {
          position: absolute;
          content: '';
          right: 0;
          top: 50%;
          transform: rotate(45deg) translate(-50%,0px);
          border-width: 0px 1px 1px 0px;
          border-style: solid;
          border-color: #333;
          width: 7px;
          height: 7px;
        }
      }
    }
  }
}
.support_ftr {
  a {
    color: #333;
    &:hover, &:active, &:focus {
      color: #00aeef;
      text-decoration: underline;
    }
  }
}

.support_content {
  background-image: image-url("support.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  .top_search_sec {
    max-width: 610px;
    margin: 60px auto;
    .top_search_sec_left {
      padding-right: 10px;
      position: relative;
      .fa-search {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: #BEBEA2;
      }
      input {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 30px;
        box-sizing: border-box;
        color: #333;
        height: 40px;
        padding-left: 40px;
        padding-right: 20px;
        -webkit-appearance: none;
        width: 100%;
        z-index: 0;
        &:hover, &:focus, &:active {
          border: 1px solid #00aeef;
        }
      }
    }
    .top_search_sec_right {
      button {
        background-color:#00aeef;
        color: #fff;
        border-radius: 100px;
        padding: 6px 20px;
        border: none;
        display: inline-block;
        height: 40px;
      }
    }
  }
}
.recent_activity {
  .recent_activity_parts {
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
    &:last-child {
      @media (max-width: 767px) {
        margin-bottom: 0px;
      }
    }
    a {
      background-color: #fff;
      border: solid 1px #00aeef;
      width: 100%;
      color: #00aeef;
      display: inline-block;
      padding: 15px 30px;
      font-size: 18px;
      text-align: center;
      transition: all ease 0.5s;
      &:hover, &:focus, &:active {
        transition: all ease 0.5s;
        color: #fff;
        background-color:#00aeef;
      }
    }
  }
}

.support_ftr {
  border-top: 1px solid #ddd;
  margin-top: 60px;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.Recent_activity_hding {
  padding: 30px 15px;
  margin-top: 30px;
  border-top: solid 1px #ddd;
  float: left;
  width: 100%;
  h2 {
    font-size: 22px;
    text-align: center;
  }
}
.latest_news_block{
  li {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #ddd;
    padding: 20px 0;
    &:last-child {
      border-bottom: none;
    }
    .latest_news {
      .latest_news_left {
        width: 70%;
        a {
          color: #333;
          width: 100%;
          float: left;
          &:hover, &:focus, &:active {
            text-decoration: underline;
          }
          &.recent-activity-item-parent {
            font-size: 16px;
          }
          &.recent-activity-item-link {
            font-size: 14px;
            font-weight: 300;
          }

        }
      }
      .latest_news_right {
        width: 30%;
        p {
          color: #666;
          display: inline-block;
          font-size: 13px;
          font-weight: 300;
          .comments {
            padding-left: 10px;
            .fa {
              color:  #00aeef;
            }
          }
        }
      }

    }
  }
}
.recent-activity-controls {
  float: left;
  width: 100%;
  a {
    color: #00aeef;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

#token_expires-index {
  #wrap {
    height: 89vh;
    .login_block {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      .login_hding {
        span {
          color: #333;
        }
      }
      .login_now {
        color: #00aeef;
        transition: all ease 0.5s;
        &:hover, &:focus, &:active {
          color: #333;
          transition: all ease 0.5s;
        }
      }
    }
    .middle {
      .messageBox-con {
        p {
          color: #666;
          clear: both;
          text-align: center;
        }
      }
    }
  }
}

#new_identity {
  .checkbox {
    .my-check {
      padding-left: 0px !important;
      .page_input_Sec {
        display: inline-block;
        .checkbox {
          width: 20px;
          height: 20px;
          position: relative;
          min-height: auto;
          input[type="checkbox"] {
            margin-left: 0px;
            height: auto;
            left: -3px;
            margin-top: 1px;
            top: 3px;
            opacity: 1;
            width: 20px !important;
          }
        }
        .error {
          padding: 0px !important;
        }
        //.lablel {
        //  padding-left: 4px;
        //}
      }
    }
  }
}