<div class="row-tips">
  <div class="tip_sec text-right">
    <span><%= image_tag("Wallet.ico", size: "16x18", ) %></span><span class='hyphen'></span>
    <span class="label label-info status-info"></span>
    <span class="label label-success status-success" style="position:absolute;top: 9px;left: -9px;"></span>
    <span class="label label-danger status-danger"></span>
    <span class="current-balance number"></span>
    <span class="unit"><%= currency %></span>
  </div>
</div>
