<div id="candlestick">
  <div id="candlestick_chart" style="height: 500px; max-width: 682px; width: 100%;"></div>
  <div class="mask">
    <table>
      <tr>
        <td class="text-center">
          <i class="fa fa-refresh fa-spin fa-1x"></i>
          <span> <%= t ('.load') %></span>
        </td>
      </tr>
    </table>
  </div>
</div>



