<div class="modal upload_csv_mdl two_fact_anable" tabindex="-1" role="dialog" id="two_factor_enable">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Two Factor Enable </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p> Enable Two Factor Authentication </p>
        <ul>
          <li> <%= link_to 'Enable authentication', settings_path, class: 'btn btn-primary' %></li>
          <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>