<div class="white_block" id="withdraw_trans_sub">
    <div class="fund_history">
        <div class="funds_history_left">
            <h2>{{"funds.withdraw_history.title" | t}}</h2>
        </div>
        <div class="funds_history_right">
            <ul>
                <li>
                    <input type="text" ng-model="search" class="form-control " placeholder="Search" >
                </li>
                <!--<li>-->
                    <!--<a class="deposit" href="javascript:void(0)">{{"funds.withdraw_history.not_receive_email" | t}} <i class="fa fa-question-circle" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <li>
                    <a class="more" target='_blank'href="/history/account?tab=withdraw">{{"funds.withdraw_history.view_all" | t}}</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-responsive history_table">
        <table class="table" ng-controller="WithdrawHistoryController as wdCtrl">
            <tbody dir-paginate="withdraw in withdraw_history | orderBy:predicate | filter:search | itemsPerPage:18 ">
            <tr class="accordion-toggle" ng-click ="toogle_arrow(withdraw.sn)" data-toggle="collapse" data-target="#collapse_{{ withdraw.sn }}" ng-class="{ 'new-row':wdCtrl.newRecord(withdraw) }">
                <td>{{"funds.withdraw_history." + withdraw.aasm_state | t}}</td>
                <td>{{ withdraw.currency | uppercase }}</td>
                <td>{{withdraw.amount | number : withdraw_channel.fixed}}</td>
                <td>{{withdraw.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
                <td class="col-lg-1 text-center arrow_td">
                    <span style="display: inline-block; width: 100%; text-align: center;" class="shw_hide_arrow"><i class="fa fa-angle-down"></i></span>
                </td>
            </tr>
            <!--<tr id="collapse_{{ withdraw.sn }}" class="collapse" ng-class="selected_txtid == withdraw.sn ? 'in' : '' ">-->
            <tr id="collapse_{{ withdraw.sn }}" class="collapse" >
                <td colspan="5">
                    <table class="table">
                        <tr>
                            <td style="color: #999;">Address:</td>
                            <td>
                                {{withdraw.fund_uid}}
                            </td>
                        </tr>
                        <tr>
                            <td>Txid:</td>
                            <td ng-if = "withdraw.txid">
                                <a href="{{withdraw.blockchain_url}}" target='_blank' data-placement="top"
                                   title="{{withdraw.txid}}" onmouseenter="$(this).tooltip('show')">{{withdraw.txid | truncate: 40}}</a>
                            </td>
                            <td ng-if = "!withdraw.txid">
                                N/A

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
            <tr ng-show="withdraw_history.length == 0">
                <td colspan="6">
                    <div class="no_rocord_found">
                        <image src="/zups.png" />
                        <p> {{ "funds.withdraw_history.no_data" | t }}</p>
                    </div>
                </td>
            </tr>
        </table>
        <dir-pagination-controls
                max-size="18"
                direction-links="true"
                boundary-links="true" >
        </dir-pagination-controls>

    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){


        $(".shw_hide_arrow").unbind('click').bind('click', function (e) {

            current_variable = $(this);
            details(current_variable);
        });
    });

    function details(current_variable){
        i_tag =current_variable.find('i')
        if(current_variable.find('.fa-angle-down').length > 0){
            i_tag.removeClass('fa-angle-down');
            i_tag.addClass('fa-angle-up');
            $('.collapse').hide();
            current_variable.parents('.accordion-toggle').first().siblings('.collapse').show();
        }
        else{
            i_tag.removeClass('fa-angle-up');
            i_tag.addClass('fa-angle-down');
            current_variable.parents('.accordion-toggle').first().siblings('.collapse').hide();
        }
    }

</script>
