

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 more_way">
    <h1>More ways to get Zinance</h1>
    <p>We've provided some tools you need for trading on the go </p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smartphone_apps">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left_sec">
        <h2>Smartphone apps</h2>
        <p>Track and manage trades wherever you are!</p>
        <ul>
          <li class="google_play"><a href="#"></a></li>
          <li class="android"><a href="#"></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right_sec">
        <%= image_tag('client001.jpg')%>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smartphone_apps desktop">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right_sec">
        <%= image_tag('client002.jpg')%>
      </div>
      <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left_sec">-->
        <!--<h2>Desktop</h2>-->
        <!--<p>Our desktop clients are tailor-made to provide a smooth and efficient trading experience.</p>-->
        <!--<ul>-->
          <!--<li class="mac"><a href="#"></a></li>-->
          <!--<li class="window"><a href="#"></a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>